body {
  background:
}


header {
margin-top: 10%;
background-color: #202020;
}





.navbar {
  background-color: #202020;
}

.navbutton {
  color: white;
  margin-left: 20px;


}

.hamburgermenu {
  background-color: white;
  animation: hamburgermenu 5s  infinite ease-out;
}

@keyframes hamburgermenu {


  0% {
  transform:  rotate(0deg);

  }

    100% {
    transform:  rotate(360deg);

    }



}

.cardcss {
  padding: 1%;
  margin-top: 4%;
}








.footera {
bottom: 0;
left: 0;
width:  5000px;
height: 20px;
position: fixed;
animation: bot 5s  infinite ease-out;

}

@keyframes bot {
0% {
transform:  translateX(-100px);

}

50% {
  transform: translateX(0px);

 }

 100% {
   transform: translateX(-100px);

  }
}




















/* images */


.fotoMika {
height: auto;
width: 90%;
position:relative;

}


.bnnvaraimages {
width: 90%;
height: auto;
}

.tedximages {
width: 90%;
height: auto;
}


.gitaararmbandcssmika {
  width: 100%;
  height: auto;

}

.feest {
  width: 100%;
  height: auto;

}



.socialmedia
{
  width: 10%;
  height: auto;

}


.battleofbritainimage {
  height: 40%;
  width: auto;

}


.processingfoto {
height: 100%;
width: auto;
}

.inprogress {
  height: auto;
  width: 50%;
 margin-left: 25%;
margin-top: 10%;
}










.border1 {

  margin: 4%;
}




/* tekst */

h2 {
color: white;
text-align: center;
padding-top: 2%;
}


.textw {
  color: white;
  align-items: center;
  font-size: 20px;
}





.glow {

  margin-top: 4%;
  font-size: 240%;
  color: #white;

  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 50px #8C8C8C;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #777777, 0 0 50px #777777;
  }
}
